{%- from 'seaweedfs/settings.sls' import weed with context -%}

OPTS="{{ weed.volume_location | join(' ') }} {{ weed.volume_params | join(' ') }} -mserver={{ weed.cluster | join(',') }} -ip={{ weed.hostname }}"