{%- from "seaweedfs/map.jinja" import config with context -%}
{% set hostname = salt['grains.get']('fqdn') -%}

{% set cluster = [] -%}

{% for node in config.topology -%}
{% do cluster.append( node + ":" + config.master.port ) -%}
{% endfor -%}

OPTS="-volumeSizeLimitMB={{ config.master.volumeSizeLimitMB }} -defaultReplication={{ config.master.defaultReplication }} -port={{ config.master.port }} -mdir={{ config.master.mdir }} -peers={{ cluster | join(',') }} -ip {{ hostname }}"